<footer>
  <section class="footer-content">
    <section class="address">
      <h3>Adres</h3>
      <p>OBA Linnaeusstraat</p>
      <p>Linnaeusstraat 44</p>
      <p>1092 CL Amsterdam</p>
    </section>
    
    <section class="contact">
      <h3>Contact</h3>
      <p>Email: <a href="mailto:buurtcampusoost@hva.nl">buurtcampusoost@hva.nl</a></p>
      <p>Telefoon: <a href="tel:0643450198">06 43450198</a></p>
      <p>BTW: 0055.81.205.B01</p>
    </section>

    <section class="collaboration">
      <h3>Samenwerken</h3>
      <p>Wil jij met andere organisaties, buurtbewoners en studenten samenwerken aan de stedelijke uitdagingen van Amsterdam Oost? Stuur een e-mail naar <a href="mailto:buurtcampusoost@hva.nl">buurtcampusoost@hva.nl</a>.</p>
</footer>


</body>
</html>