<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/styleguide.css">
    <script defer src="/main.js"></script>
  </head>
  <body>  
  <header>
<nav> 
    <ul> 
        <li><a href="#">Projecten</a></li> 
          <ul> 
            <li><a href="#">Stekjes</a></li> 
            <li><a href="#">Zaden</a></li> 
            <li><a href="#">Geveltuin</a></li> 
            <li><a href="#">Groenebieb</a></li> 
          </ul> 
        <li><a href="/agenda/">Agenda</a></li> 
        <li><a href="/partners/">Partners</a></li> 
        <li><a href="/over/">Over</a></li> 
        <li><a href="/contact/">Contact</a></li> 
    </ul> 
</nav> 