<%- include('./partials/head') %>
  <body>
    <header>
      <nav>
        <div class="navlogo">
          <a href="https://redpers.nl/"><img src="assets/RedPers_Logo_Cmyk_Black.webp" alt="Logo Redpers" width="400px"
              height="96px">
          </a>
        </div>
        <ul>
          <li><a href="https://redpers.nl/binnekort/">Alumni</a></li>
          <li><a href="https://redpers.nl/colofon/">Colofon</a></li>
          <li><a href="https://redpers.nl/over-red-pers/">Over</a></li>
          <li><a href="https://redpers.nl/meedoen/">Meedoen</a></li>
          <li><a href="https://redpers.nl/contact/">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>    
    </main>
  </body>
  <%- include('./partials/foot') %>